In [112]:
import pandas as pd
from pycovid import pycovid
import numpy as np

import seaborn as sns

In [76]:
df = pycovid.getCovidCases(countries=["Austria", "Spain", "Germany", "Italy", "Switzerland", "Iran"])
df['month'] = df['date'].map(lambda x: x.month)

In [79]:
x = df[(df.type=="death")].groupby(['country_region', 'month'])['cases'].sum()
x.unstack()

month           1   2     3
country_region
Austria         0   0     1
Germany         0   0    11
Iran            0  43   681
Italy           0  29  1780
Spain           0   0   289
Switzerland     0   0    14

In [119]:
mort = np.arange(.01, .061, .01)
inf = np.arange(.6, .81, .1)

df = pd.DataFrame()
for m in mort:
    for i in inf:
        d = 9000000*m*i
        df.loc[int(m*100), i*100] = d

df.index.name = "Mortalität (%)"
df.columns = [f"{int(_)}%" for _ in df.columns]

In [121]:
cm = sns.light_palette("green", as_cmap=True)
df.astype(int).style.background_gradient(cmap=cm, axis=None)